.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#contact{
  width: 50%;
}
.contact-info .form-label{
  margin-top: 15px;
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.m-top {
  margin-top: -100px;
}

/* =======ChatWithMe======== */

@media (min-width: 576px) {
  .z-index {
    z-index: 100;
  }
}

@media (max-width: 576px) {
  .width {
    width: 480px;
  }

  .z-index {
    z-index: 100;
  }

  .width-full {
    width: 100% !important;
  }
}

@media (max-width:767px) {
  .home-content {
    padding: 2rem 0 0rem !important;
    color: whitesmoke;
    text-align: left;
}
.home-about-description {
  color: white !important;
  padding-top: 0px !important;
  padding-bottom: 20px !important;
  text-align: center;
}
.home-about-section {
  position: relative;
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 16px;
}
.styles_footer__ltlVl {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.styles_legendColors__FYXRi {
  margin-left: 0;
  margin-top: 10px;
  display: flex;
}
.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  height: auto !important;
}
#contact{
  width: 100%;
}
.contact-info{
  text-align: left;
}
/* .contact-info .form-label{
margin-top: 15px;
} */
}